@font-face {
    font-family: Manrope;
    src: url(/misc/Manrope/Manrope-VariableFont_wght.ttf);
}


@media only screen and (max-width: 600px) {
    body {
        display: grid;
        margin:0;
        grid-template-areas: 
        "he he he"
        "ma ma ma"
        "se se se"
        "ft ft ft";
        background-color:hsla(0,0%,100%,1);
        
        width: 100%;
        height: 100vh;
        
    }
    
    header {
        background-color: rgba(240, 160, 160, 0.368);
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 7vh;
        grid-area: he;
        border-bottom:#5151510a 3px solid;
        
    }
    h1 {
        text-align: center;
        margin-left: 10px;
        font-family: Manrope;
    }
    main {
        background-color:rgb(255, 255, 255);
        background-image:
        radial-gradient(at 80% 100%, rgba(252, 168, 225, 0.133) 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgba(255, 133, 168, 0.293) 0px, transparent 50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        grid-area: ma;
        

    }
    main h1 {
        font-family: Manrope;
        margin-bottom: 10px;
    }
    main h2 {
        font-size: 1.5em;
        font-family: Manrope;
    }
    main p {
        margin: 35px;
        margin-bottom: 5px;
        margin-top: 0px;
        font-family: manrope;
        color: black;
        font-weight: 400;
        line-height: 30px;
        
    }
    section {
        grid-area: se;
        background-color: #e8bcdb;
        height: 20vh;
        width: 100%;

        display: flex;
        flex-direction: column;

    }
    .awardssection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    .cert {
        width: 100px;
        height: 85px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .cert img {
        width: 48px;
        height: 48px;
    }
    .cert h2 {
        font-size: 0.7em;
        width: 100%;
    }
    
    
   .hamburger {
        margin-top: 5px;
        margin-right: 5px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        height: 32px;
        width: 64px;
        background-image: url('/img/Hamburger.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .seeMore {
        text-align: center;
        line-height: 40px;
        font-family: Manrope;
        font-weight: bold;
        font-size: 1.2em;
        color: black;
        text-decoration: none;

        width: 70%;
        height: 40px;
        margin-top:5px;
    }
    .gradient {
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px 1px solid black;
        border: solid 2px rgb(237, 187, 219);
        border-radius: 10px;
        background-image: linear-gradient(to right, #eda8db 30%, #9d84f1  100%)
    }
    .secondary {
        background-color: white;
        border: solid 2px rgb(216, 216, 216);
        border-radius: 10px;
    }
    .heroimage {
        width: 90px;
        height: 230px;
        object-fit: cover;
        background-repeat: 3;
        image-rendering: 10%;
        border-radius: 5%;
        border: 5px solid rgba(240, 211, 241, 0.549);
        
    }
    
    

    
    
    
}








h2 {
    font-family: manrope;
    text-align: center;
    font-size: 2rem;
    color: rgb(18, 18, 18);
}

.partners {
    background-color:hsla(0,0%,100%,1);
    background-image:
    radial-gradient(at 80% 100%, hsla(277,100%,95%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(340,100%,96%,1) 0px, transparent 50%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;


    grid-area: pa;
    border-top: 4px solid #e8bcdb;
    background-color: white;
    height: 55vh;
    width: 100%;
}

.partnerimg {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.123);
    border-radius: 20px;
    margin: 10px;
    object-fit: contain;
    margin-bottom:10px;
    
    
    width: 90%;
    height: 20%;
}

footer {
    grid-area:ft;
    width: 100%;
    height: 100%;
    background-color:#f4e5f5;
    border-top: 5px solid #efdcf4;
}

footer h1 {
    font-size: 1.5em;
    margin: 10px;
    font-family: manrope;
}

footer p {
    margin: 10px;
    font-size: 1.1em;
    font-family: manrope;
}

footer .copy {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}

@media only screen and (min-width: 601px) {
    body {
        display: grid;
        margin:0;
        grid-template-areas: 
        "he he he"
        "ma ma ma"
        "se se se"
        "ft ft ft";
        background-color:hsla(0,0%,100%,1);
        
        width: 100%;
        height: 100vh;
        
    }
    
    header {
        background-color: rgba(240, 160, 160, 0.368);
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 7vh;
        grid-area: he;
        border-bottom:#5151510a 3px solid;
        
    }
    h1 {
        text-align: center;
        margin-left: 10px;
        font-family: Manrope;
    }
    main {
        background-color:rgb(255, 255, 255);
        background-image:
        radial-gradient(at 80% 100%, rgba(252, 168, 225, 0.133) 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgba(255, 133, 168, 0.293) 0px, transparent 50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        grid-area: ma;
        margin-bottom: 50px;

    }
    main h1 {
        font-family: Manrope;
        margin-bottom: 10px;
    }
    main h2 {
        font-size: 1.5em;
        font-family: Manrope;
    }
    main p {
        margin: 35px;
        margin-bottom: 5px;
        margin-top: 0px;
        font-family: manrope;
        color: black;
        font-weight: 400;
        line-height: 30px;
        width: 40%;
    }
    section {
        grid-area: se;
        background-color: #e8bcdb;
        height: 20vh;
        width: 100%;

        display: flex;
        flex-direction: column;

    }
    .awardssection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }
    .cert {
        width: 100px;
        height: 85px;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .cert img {
        width: 48px;
        height: 48px;
    }
    .cert h2 {
        font-size: 0.7em;
        width: 100%;
    }
    
    
    
    .seeMore {
        text-align: center;
        line-height: 40px;
        font-family: Manrope;
        font-weight: bold;
        font-size: 1.2em;
        color: black;
        text-decoration: none;

        width: 70%;
        height: 40px;
        margin-top:5px;
    }
    .gradient {
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px 1px solid black;
        border: solid 2px rgb(237, 187, 219);
        border-radius: 10px;
        background-image: linear-gradient(to right, #eda8db 30%, #9d84f1  100%)
    }
 
    .secondary {
        background-color: white;
        border: solid 2px rgb(216, 216, 216);
        border-radius: 10px;
    }
    .heroimage {
        margin-top: 40px;
        width: 700px;
        height: 400px;
        object-fit: cover;
        background-repeat: 3;
        image-rendering: 10%;
        border-radius: 5%;
        border: 5px solid rgba(240, 211, 241, 0.549);
        
    }
    

    
    
    
}


h2 {
    font-family: manrope;
    text-align: center;
    font-size: 2rem;
    color: rgb(18, 18, 18);
}

.partners {
    background-color:hsla(0,0%,100%,1);
    background-image:
    radial-gradient(at 80% 100%, hsla(277,100%,95%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(340,100%,96%,1) 0px, transparent 50%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 5px;


    grid-area: pa;
    border-top: 4px solid #e8bcdb;
    background-color: white;
    height: 55vh;
    width: 100%;
}

.partnerimg {
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.123);
    border-radius: 20px;
    margin: 10px;
    object-fit: contain;
    margin-bottom:10px;
    
    
    width: 90%;
    height: 20%;
}

footer {
    grid-area:ft;
    width: 100%;
    height: 100%;
    background-color:#f4e5f5;
    border-top: 5px solid #efdcf4;
}

footer h1 {
    font-size: 1.5em;
    margin: 10px;
    font-family: manrope;
}

footer p {
    margin: 10px;
    font-size: 1.1em;
    font-family: manrope;
}

footer .copy {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}


