@font-face {
    font-family: Manrope;
    src: url(/misc/Manrope/Manrope-VariableFont_wght.ttf);
}


@media only screen and (max-width: 600px) {
    body {
        display: grid;
        margin:0;
        grid-template-areas: 
        "he he he"
        "ma ma ma"
        "se se se"
        "ft ft ft";
        background-color:hsla(0,0%,100%,1);
        background-image:
        radial-gradient(at 100% 95%, hsla(240,0%,100%,1) 0px, transparent 50%),
        radial-gradient(at 49% 43%, hsla(343,100%,76%,0.46) 0px, transparent 50%);
        background-repeat:no-repeat;
        background-size: cover;
        
        width: 100%;
        height: 100vh;
        
    }
    
    header {
        background-color: rgba(240, 160, 160, 0.368);
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 7vh;
        grid-area: he;
        border-bottom:#5151510a 3px solid;
        
    }
    h1 {
        text-align: center;
        margin-left: 10px;
        font-family: Manrope;
    }
    main {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        grid-area: ma;

    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 35vh;
        grid-area: se;
    }
    li {
        font-family: Manrope;
        list-style: none;
        margin-left: -40px;
        font-size: 1.2em;
        margin-bottom: 25px;
    }
    
    .hamburger {
        margin-top: 5px;
        margin-right: 5px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        height: 90%;
        width: 15%;
        background-image: url('/img/Hamburger.png');
        background-size: 70%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .seeMore {
        text-align: center;
        line-height: 40px;
        font-family: Manrope;
        font-weight: bold;
        font-size: 1.2em;

        width: 70%;
        height: 40px;
        margin-top:5px;
    }
    .gradient {
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px 1px solid black;
        border: solid 2px rgb(237, 187, 219);
        border-radius: 10px;
        background-image: linear-gradient(to right, #eda8db 30%, #9d84f1  100%)
    }
    section h1 {
        margin: 0;
        margin-top: 50px;
    }
    h2 {
        font-family: Manrope;
        margin: 0;
        font-size: 1em;
        text-align: center;
    }

    .accordion {
        font-family: Manrope;
        font-weight: bold;
        background-color: #ffc0fe;
        color: #151515;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        margin-top: 30px;
      }
      
      .active, .accordion:hover {
        background-color: #ffc0fe9f;
      }
      
      /* Style the accordion panel. Note: hidden by default */
      .panel {
        font-family: Manrope;
        width: 100%;
        height: 100%;
        padding: 0 18px;
        background-color: #ffc0fe58;
        display: none;
      }
    
    
}


@media only screen and (min-width: 601px) {
    body {
        display: grid;
        margin:0;
        grid-template-areas: 
        "he he he"
        "ma ma ma"
        "se se se"
        "ft ft ft";
        background-color:hsla(0,0%,100%,1);
        background-repeat:no-repeat;
        background-size: cover;
        
        width: 100%;
        height: 100vh;
        
    }
    .mainContent {
        width: 60%;
    }
    
    header {
        background-color: rgba(240, 160, 160, 0.368);
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 7vh;
        grid-area: he;
        border-bottom:#5151510a 3px solid;
        
    }
    h1 {
        text-align: center;
        margin-left: 10px;
        font-family: Manrope;
    }
    main {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        grid-area: ma;

    }
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: se;
    }
    li {
        font-family: Manrope;
        list-style: none;
        margin-left: -40px;
        font-size: 1.2em;
        margin-bottom: 25px;
    }
    
    .hamburger {
        margin-top: 5px;
        margin-right: 5px;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        height: 32px;
        width: 64px;
        background-image: url('/img/Hamburger.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .seeMore {
        text-align: center;
        line-height: 40px;
        font-family: Manrope;
        font-weight: bold;
        font-size: 1.2em;

        width: 30%;
        height: 40px;
        margin-top:5px;
    }
    .gradient {
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px 1px solid black;
        border: solid 2px rgb(237, 187, 219);
        border-radius: 10px;
        background-image: linear-gradient(to right, #eda8db 30%, #9d84f1  100%)
    }
    section h1 {
        margin: 0;
        margin-top: 50px;
    }
    h2 {
        font-family: Manrope;
        margin: 0;
        font-size: 1em;
        text-align: center;
    }

    .accordion {
        font-family: Manrope;
        font-weight: bold;
        background-color: #ffc0fe;
        color: #151515;
        cursor: pointer;
        padding: 18px;
        width:100%;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        margin-top: 30px;
      }
      
      .active, .accordion:hover {
        background-color: #ffc0fe9f;
      }
      
      /* Style the accordion panel. Note: hidden by default */
      .panel {
        font-family: Manrope;
        height: 30%;
        padding: 0 18px;
        background-color: #ffc0fe58;
        display: none;
      }
}





footer {
    grid-area:ft;
    width: 100%;
    height: 100%;
    background-color:#f4e5f5;
    border-top: 5px solid #efdcf4;
}

footer h1 {
    font-size: 1.5em;
    margin: 10px;
    font-family: manrope;
}

footer p {
    margin: 10px;
    font-size: 1.1em;
    font-family: manrope;
}

footer .copy {
    margin-top: 40px;
    font-weight: bold;
    text-align: center;
}