.projekt:hover img {
    transition: transform 1s ease;
    filter: opacity(80%);
    filter: grayscale(0.5) sepia(1) hue-rotate(-65deg) saturate(2);
    transform: scale(1.01);
}

.projekt img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 35px 35px 0px 0px;
}

.projekt:hover img {
    transition: transform 1s ease;
    filter: opacity(80%);
    filter: grayscale(0.5) sepia(1) hue-rotate(-65deg) saturate(2);
    transform: scale(1.01);
}

.projekt:hover {
    transition: transform 0.1s ease;
    transform: scale(1.01);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
h2 {
    font-family: Manrope;
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 2rem);
    color: rgb(18, 18, 18);
}
#mainText h1 {
    font-family: Manrope;
    color: rgb(24, 20, 20);
    font-size: clamp(2rem, 5vw, 2em);
    margin: 0;
}
#mainText p {
    margin: 10;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500px;
    color: rgb(30, 30, 30);
    font-size: clamp(1rem, 2vw, 1.6em);
}
.projekt {
    font-family: Manrope;
}
footer p {
    text-align: center;
    font-family: Manrope;
}
footer {
        grid-area: ft;
        width: 100%;
        height: 100%;
        background-color: #f4e5f5;
    }

    header {
        background-color: #ffffff;
        margin: 0px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        grid-area: he;
        
    }
    header img {
        background-image: url("/img/Hamburger.svg");
        height: 32px;
        width: 32px;
    }
    .burgernav {
        background-color:#5151510a;
        position: fixed;
        height: 100%;
        width: 100%;
        max-width: 100vw;
        left: 100vw;
        display: flex;
        flex-direction: column;
    }
    header a {
        text-align: center;
        margin-left: 10px;
        font-family: Manrope;
        text-decoration: none;
        font-size: 2em;
    }
    .hamburger {
        margin-top: 5px;
        margin-right: 5px;
        height: 32px;
        width: 32px;
        background-image: url('/img/hamburger.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    nav {
        width: 100%;
        margin-right: 25px;
        margin-left: 25px;
    }
    nav a {
        margin: 10px;
        width: 100%;
        height: 100%;
        font-family: Manrope;
        font-size: clamp(0.9rem, 1vw, 2.2rem);
    }

        
    .gradient {
        color: rgb(255, 255, 255) !important;
        border-radius: 10px;
        background-image: linear-gradient(to right, #eda8db 30%, #9d84f1  100%)
    }

@media only screen and (max-width: 600px)
{
    nav {
        display: none;
    }
    .menu_button {
        border: none;
    }
    .burgernav {
        background-color: #eda8db;
        position: fixed;
        height: 100%;
        width: 100%;
        max-width: 100vw;
        left: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        font-size: 2rem;
    }
    .burgernav a{
        font-family: manrope;
        margin: 40px;
    }
    .OnScreen {
        left:0;
    }
    
}

@media only screen and (min-width:601px) {
    .hamburger {
        display: none;
    }
    .menu_button {
        display: none;
    }
}