@font-face {
    font-family: Manrope;
    src: url(/misc/Manrope/Manrope-VariableFont_wght.ttf);
}


@media only screen and (min-width: 601px) {

    .CalltoAction {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #faf3f7;
    }

    body {
        display: grid;
        margin:0;
        grid-template-areas: 
        "he"
        "ma"
        "se"
        "pa"
        "ft";
        background-color: #faf3f7;
        background-repeat:no-repeat;
        background-size: cover;
        grid-template-rows: 7vh 93vh 45vh 80vh 30vh;
        
        
    }
    main {
        height: 100%;
        grid-area: ma;

        display: flex;
        flex-direction: row;
        justify-content: start;


    }
    #mainText {
        width: 30%;
        margin-right: 150px;
    }

    
    .heroimage {
        width: 500px;
        height: 500px;
        
        background-repeat: none;
        background-size:cover;
        border-radius: 20%;
        border: 5px solid rgb(255, 255, 255);
        box-shadow: 5px 5px 5px 10px rgba(198, 195, 195, 0.547);
        
    }
    .seeMore {
        text-align: center;
        line-height: 50px;
        font-family: Manrope;
        font-weight: bold;
        font-size: 2.2em;
        margin: 1px;
        text-decoration-line: none;
        border: 2px rgb(98, 98, 98) solid;
        width: 15%;
        border-radius: 10px;
        height: 100px;
        margin:10px;
        padding: 10px;
        color: black;
    }
    .gradient {
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px 1px solid black;
        border-radius: 10px;
        background-image: linear-gradient(to right, #eda8db 30%, #9d84f1  100%)
    }
    .promise {
        background-color:#f3e6f7;
        grid-area: se;
        width: 100%;
        height: 100%;
        min-height: 350px;
    }
    .promise h2 {
        font-family: Manrope;
        text-align: center;
    }
    .promise p {
     font-family: Manrope;
     font-size: 90%;
     overflow-y: none;
    }
    .promiseflex {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px
    }
    .partners {
        background-color:#f7f1f4;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10px;
    
    
        grid-area: pa;


        height: 100%;
        width: 100%;
    }
    .Services {
        background-color: white;
        grid-area: se;
        display: flex;
        flex-direction: column;
        align-items: start;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.362);

        height: 250px;
        width: 25%;
        gap: 5px;
        border-radius: 10px;
        margin: 0px 0px 20px 0px;
        padding: 15px;
        
    }
    
    .Services img {
        margin-top: 10px;
        margin-left: 5px;
        margin-right:10%;
        width: 42px;
        height: 42px;
        padding-left: 20px;
    }
    .Services p {
        width: 100%;
        height: 70%;
        font-size: clamp(1rem, 1vw, 1.2rem);
    }
    .Services:hover {
        transition: transform 0.1s ease;
        transform: scale(1.01);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    #showcase {
        display: grid;
        justify-items: center;  
        grid-template-columns: repeat(3, 2fr); /* 2 columns */
        gap: 20px;
        max-width: 100%;
        height: 80%;
        margin: 0 auto;
       

    }
    .projekt {
        
        
        background-color: white;
        box-shadow: 3px 1px 4px 4px rgba(0, 0, 0, 0.2);
        border-radius: 35px;
        max-height: 550px;
        width: 400px;
        min-height: 400px;
        display: flex;
        flex-direction: column;
        
    }

}
.swipe {
    display: none;
}